{% extends 'base.html' %}




{% block titulo %} Agregar Paciente  {% endblock %}


{% block contenido %} 


<div class="card">
    <div class="card-header">
        Agregar un nuevo Paciente 
        <div align="center"><img src="https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824144_960_720.png" class="img-rounded-circle" alt="" width="100px"></div>
    </div>
    <div class="card-body">
        <h4 class="card-title">DATOS PERSONALES </h4>

        {% include 'formulario.html'%}

    </div>
    
</div>






{% endblock %}