{% extends 'base.html' %}
{% block contenido %} 


<div class="card">
    <div class="card-header">
        Encuesta Diagnostico 
        <div align="center"><img src="https://img.icons8.com/color/96/000000/doctor-male--v1.png"/></div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Paciente</h4>
        <table class="table table-striped">

        <form action="/diagnostico/" method="POST">
            {% csrf_token %}
                <tr>
                    <td>
                      <label>Sexo:</label>
                      <select class="form-select"  name="sexo"  aria-label="Default select example">
                        <option value="0">Masculino</option>
                        <option value="1">Femenino</option>
                        <option value="2">Niño</option>
                        <option value="3">Niña</option>
                      </select>
                      <br>
                      Edad: <input type="number" name="edad">
                    </td>

                    <td><label  class="form-label">Parte del cuerpo: </label>
                        <br>
                        {% for x in body %}
                         <input type="radio" name="parte" value="{{ x.ID }}">{{ x.Name }}<br>
                        {% endfor %}
                    </td>
                </tr>
                
                <tr><td><button type="submit" class="btn btn-primary">Buscar sintomas</button></td>   
                    
                
            </form>
            
            <td>
                {% if sintomas %}
                <form action="/resultados/" method="POST">
                    {% csrf_token %}
                    <label class="form-label">Lista de Sintomas: </label>
                    <br>
                                <select class="form-select" multiple aria-label="multiple select example" name="sintoma">
                                {% for y in sintomas %}
                                    <option value="{{ y.ID }}">{{ y.Name }}</option>
                                {% endfor%}
                                </select> 
                    <br>
                    <button type="submit" class="btn btn-primary">Buscar Diagnostico</button>
                </form>
                {% else %}
                <p>-----></p>
                {% endif %}
            </td>
        </tr>
        

    </table> 
    </div>
</div>   
{%  endblock %} 